body{
  margin:0;
}
  a{
    color:black;
    text-decoration: none;
}
  .saw{
    color:gray;
}
  #active{
    color:red;
}
h1{
    font-size:40px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
ol{
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left:25px;        /*그리드안에있는 ol과 article로 더 정확히 표시해주는게좋음*/
}
/* screen width < 800px        min 800이면 800까지만 동작, max 800이면 800부터 동작*/
@media(max-width:800px) {
  #grid{
    display:block;
}
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
